In [2]:
import sqlite3
conn = sqlite3.connect("./basketball.sqlite")
result = conn.execute("select namePlayerBREF , urlPlayerBioBREF from Player_Bios")
sqldata = result.fetchall()
data =[]
a = 0
for d in sqldata:
    a +=1
    json={'name':d[0] , 'url':d[1]}
    data.append(json)
print(a)
conn.close()

42749

In [3]:
import pandas as pd
df = pd.DataFrame(data)
df = df[~df.duplicated()]
df.head(5)

             name                                                url
0      A.C. Green  https://www.basketball-reference.com/players/g...
21  A.J. Bramlett  https://www.basketball-reference.com/players/b...
24   A.J. English  https://www.basketball-reference.com/players/e...
31    A.J. Guyton  https://www.basketball-reference.com/players/g...
40    A.J. Wynder  https://www.basketball-reference.com/players/w...

In [33]:
conn = sqlite3.connect("./basketball.sqlite")   # 資料庫連線
cursor = conn.cursor()
sql = '''Create table player_data(  
        name text,
        season text,
        age int , 
        team text , Lg text ,  
        pos text , 
        G int , Gs int ,
        MP float , FG float , 
        FGA float , FG_P float , 
        threeP float , threePA float , threeP_P,twoP float ,
        twoPA float , twoP_P float , eFG_P float , 
        FT float , FTA float , FT_P float , ORB float , DRB float , 
        TRB float , AST float , STL float , BLK float , TOV float , PF float , PTS float)'''
cursor.execute(sql)                     # 執行SQL指令
cursor.close()                          # 關閉
conn.close()

OperationalError: table player_data already exists

In [4]:
def add_sql(x):
    conn = sqlite3.connect("./basketball.sqlite")
    sql = f"insert into player_data values({'?,'*30}?)"
    conn.execute(sql , x)

In [5]:
conn = sqlite3.connect("./basketball.sqlite")
result = conn.execute("select * from player_data")
sqldata = result.fetchall()
print(sqldata)
conn.close()

[]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4010 entries, 0 to 42741
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    4010 non-null   object
 1   url     4010 non-null   object
dtypes: object(2)
memory usage: 94.0+ KB

In [8]:
import requests
from bs4 import BeautifulSoup

header ={'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36'}
b = 0
for url in df['url']:
    res = requests.get(url = url , headers = header)
    soup = BeautifulSoup(res.text , 'html.parser')
    tables = soup.select('table#per_game tbody tr')
    name = soup.select('div#meta div h1 span')[0].text
    a = 0
    for t in tables:
        a +=1
        t_data = list()
        tds = t.select('td')
        th = t.select('th')[0].text
        t_data.append(name)
        t_data.append(th)
        for td in tds:
            t_data.append(td.text)
        add_sql(tuple(t_data))
    if b%30 == 0 :
        conn.commit()
        
    print('ok' , name , f'共擁有{a}個賽季')

conn.commit()
conn.close()

ProgrammingError: Cannot operate on a closed database.

0